#controls {
  font-size: 25px;
  position: absolute;
  margin-top: 10%;
  font-family: Ubuntu;
  border-color: black;
}

#top {
  font-size: 30px;
  color: red;

  justify-content: center;
  display: flex;
  letter-spacing: 20px;
}

header {
  font-size: 40px;
  font-family: Ubuntu;
}
